<form [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
  <div class="input-field">
    <label for="name">Nombre:</label>
    <input type="text" id="name" formControlName="name" />
  </div>

  <div class="input-field">
    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" />
  </div>

  <div class="input-field">
    <label for="website">Website:</label>
    <input type="text" id="website" formControlName="website" />
  </div>

  <div>
    <button type="submit" [disabled]="!editUserForm.valid">Guardar</button>
  </div>
</form>
