form {
  padding: 20px;
  .input-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    label {
      color: darkcyan;
      margin-bottom: 5px;
    }
    input {
      background-color: #eaeaea;
      border: none;
      border-radius: 10px;
      padding: 15px;
    }
  }

  button {
    background-color: rgb(100, 149, 237);
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    transition: background-color 200ms;
    &:hover {
      background-color: rgb(28, 101, 238);
    }
    &:disabled {
      background-color: rgba(83, 85, 88, 0.5);
    }
  }
}
