<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>WebSite</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.website }}</td>
      <td>
        <button (click)="onEdit(user.id)">
          <app-edit-icon color="forestgreen"></app-edit-icon>
        </button>
        <button (click)="onDelete(user.id)">
          <app-delete-icon color="crimson"></app-delete-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
