<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>WebSite</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userList">
      <td (click)="onRowClick(user.id)">{{ user.id }}</td>
      <td (click)="onRowClick(user.id)">{{ user.name }}</td>
      <td (click)="onRowClick(user.id)">{{ user.email }}</td>
      <td (click)="onRowClick(user.id)">{{ user.website }}</td>
      <td>
        <button (click)="onEdit(user.id)">
          <app-edit-icon color="darkcyan"></app-edit-icon>
        </button>
        <button (click)="onDelete(user.id)">
          <app-delete-icon color="crimson"></app-delete-icon>
        </button>
      </td>
    </tr>
  </tbody>
</table>
